<div [ngClass]="{'show':error}" class="top-errors">

    <div class="row">

      <div class="col-12">

        <span class="close" (click)="close()">&times;</span>

      </div>

    </div>

    <div class="error row">

      <div class="col-12">

        <div class="error-box" *ngIf="error">

          <h3>{{error.msg}}</h3>
          <div class="subtext">
            {{error.elapsed}} ago            
          </div>

        </div>
      </div>

    </div>

</div>