.top-errors {

	position: fixed;
	top:-200px;
	width:calc( 100vw - 20px );
	height:150px;
	background-color:rgba(182,20,20,0.7);
	z-index: 999999;
	transition: all 0.3s ease-in-out;
	border:1px solid #FFF;
	border-radius: 5px;
	margin:10px;
	font-family: 'Roboto Mono', monospace;
	color:#FFF;
	padding:20px;
	opacity: 0;

	.close {

		color:#FFF;

	}

	.error {

		text-align: center;

		.error-box {

			display: inline-block;
			text-align: initial;

			width: 70vw;
			font-size: 1rem;
			padding:20px;

		}

	}

}

.show {

	transform: translateY(200px);
	opacity: 1;

}