.item {

	margin:10px 0 10px 0;
	padding:10px 0 10px 0;

	a.porthole-lg {
		display: inline-block;
		padding:0;
		line-height: normal;

	}

	.box {
		font-size:60%;
	}

	.sub-text-block {

		display: inline-block;
		margin-right: 20px;

	}

	a.item-text {

		display: inline-block;
		font-size:1.5rem;
		// font-weight: bold;
		color:#000;

	}

	a.icon-btn {

		font-size: 130%;
		height:36px;
		width: 36px;
		display: inline-block;
		border-radius: 3px;
		margin:3px;
		text-align: center;
		border:1px solid #f0f0f0;
		line-height: 36px;
	}

	.icon-box {

		width: 100%;
		text-align:center;

	}

	i.icon-twitter {

		color:#38A1F3;

	}

	i.icon-reddit {

		color:#FF4534;

	}

	i.icon-facebook {

		color:#3b5998;

	}

}



@media (max-width: 600px) {
 
	a.item-text {
		font-size:1rem!important;
		font-weight: bold;

	}

}

.highlight {

	background-color: rgba(28,92,189,0.3);

}