<div class="row item" id="#{{item.stub}}" [ngClass]="{'highlight':item.stub === scrollTo}"> 

  <div class="col-3 col-lg-1 text-center px-0 mx-0">

    <a  *ngIf="!item.img" class="porthole-lg" href="{{item.link}}" target="_blank" [ngStyle]="{'background-image':'url('+statics.apiRoot+statics.icons+item.source_logo+')'}" style="background-size: cover;"></a>
    <a  *ngIf="item.img" class="porthole-lg" href="{{item.link}}" target="_blank" [ngStyle]="{'background-image':'url('+item.img+')'}" style="background-size: cover;"></a>

  </div>

  <div class="col-9 col-lg-10">
    
    <div class="box text-robotomono">
      
      <span class="text-muted sub-text-block"><a title="{{getDt(item.dt_created)}}">{{timeDiff}} ago</a></span>
      <span class="sub-text-block">
        
        <span *ngIf="item.user_liked">
          <a (click)="setLike(item.stub,0)">{{item.data_likes}}<i class="icon-heart" style="color:red"></i></a>
        </span>
        <span *ngIf="!item.user_liked">
          <a (click)="setLike(item.stub,1)">{{item.data_likes}}<i class="icon-heart-o"></i></a>
        </span>
        &nbsp;<a [routerLink]="['item',item.stub]">{{item.data_comments}}<i class="icon-chat-empty"></i></a>

      </span>

      <span class="sub-text-block">
        <a (click)="setLocation(item.stub)"><i class="icon-location"></i></a> 
        <div class="btn-group" style="display: inline-block;" dropdown>

          <a id='{{item.stub}}-btn' dropdownToggle attr.aria-controls="{{item.stub}}-share" >
            <i class="icon-share"></i>
          </a>
          <ul id='{{item.stub}}-share' *dropdownMenu class="dropdown-menu" role="menu" attr.aria-labelledby="{{item.stub}}-btn">
            <li StopClickPropagation>
              
              <!-- share buttons -->
              <div class="icon-box">
                <a class="icon-btn" href="https://twitter.com/intent/tweet?url=https://euspider.eu/item/{{item.stub}}" target="_blank"><i class="icon-twitter"></i></a> <a class="icon-btn" target="_blank" href="http://www.reddit.com/submit?url=https://euspider.eu/item/{{item.stub}}&title=titleToHtml"><i class="icon-reddit"></i></a> <a class="icon-btn" href="https://www.facebook.com/sharer/sharer.php?u=https://euspider.eu/item/{{item.stub}}"><i class="icon-facebook"></i></a><br>
              </div>
              <div class="icon-box">
                <a (click)="copyMessage(itemLinkLocation)">{{itemLinkLocation}}</a>
              </div>

            </li>
          </ul>
        </div>
      </span>

      <span class="sub-text-block"><a routerLink="/source/{{item.source_stub}}">{{item.source}}</a></span>

    </div>

    <a href="{{item.link}}" target="_blank" class="item-text">{{item.text}}</a>
  
  </div>

</div>