<div class="user-profile" *ngIf="user && statics">

  <div class="row align-items-center justify-content-start">
    <div class="col-3 pr-0">
      <span class="porthole-lg" [ngStyle]="{'background-image':'url('+avatarLocation+')'}" style="background-size: cover;"></span>
    </div>
    <div class="col-9 text-left">
      <a (click)="false" class="profile-link">/u/{{user.name}}</a>
    </div>
  </div>
  <div class="row text-secondary subtext">
    <div class="col-12 text-left">
      <i class="icon-heart"></i> {{user.data_likes}} <i class="icon-chat-empty"></i> {{user.data_comments}} <i class="icon-cancel"></i> {{user.data_reports}} <i class="icon-users"></i> {{dtAgo}}  
    </div>  
  </div>  

  <div class="row">
    <div class="profile-box col-12" [innerHTML]="profile"></div>
  </div>

</div>