.text-col {
	min-height: 100px;

	img {
		display: none;
	}

}

.comment {

	.porthole-lg {

		img {
			width:56px;
		}

	}

	.comment-box-row {
		overflow: hidden;
		max-height:0;
		transition: max-height 0.15s ease-out;

	}

	.comment-box-row-show {

		max-height:100vh;
		transition: max-height 0.15s ease-out;		

	}

	.icon-row{

		line-height: 0.9rem;
		font-size:0.9rem;
		span {
			display: inline-block;
			margin-left: 3px;
		}

	}

}

.msg-height {

	min-height: 18px;
	font-size: 16px;
	line-height: 16px;

}