<div class="comment" (click)="setParent()">

  <div class="row align-items-top">
    
      <div class="col-3 col-lg-1 pr-0">

        <span *ngIf="comment.user" class="porthole-lg"><img *ngIf="comment.user.avatar" src="{{statics.apiRoot}}{{statics.avatars}}{{comment.user.avatar}}.png" /><img src="{{statics.apiRoot}}{{statics.icons}}eu.stars.png" *ngIf="!comment.user.avatar"/></span>
        <span *ngIf="!comment.user" class="porthole-lg"><img src="{{statics.apiRoot}}{{statics.icons}}eu.stars.png" /></span>
      
      </div>
      <div class="col-9 col-lg-11 text-left">

        <!-- Content -->
        
        <div class="row">

          <div class="col-12 subtext" StopClickPropagation>
          
            <span *ngIf="comment.isDeleted < 1 && comment.isRemoved < 1">
              <profile-overlay-user [user]="comment.user"></profile-overlay-user>
            </span> 
            <span *ngIf="comment.isDeleted > 0 || comment.isRemoved > 0">
              {{comment.user_name}}
            </span> 
            - <span class="time">{{timeDiff}} ago</span>
          
          </div>

        </div>

        <div class="row" *ngIf="comment.data_reports > 0 && !showReportedComment">

          <div class="col-12 text-col">

            <a (click)="showReportedComment = !showReportedComment" title="View it anyway">[This comment has been reported {{comment.data_reports}} times]</a>
          
          </div>
        
        </div>

        <div class="row" *ngIf="comment.data_reports < 1 || showReportedComment">

          <div class="col-12 text-col" [innerHTML]="text"></div>

        </div>

        <div class="row subtext icon-row" (click)="onEvent($event)">

          <div class="col-12">

            <span *ngIf="comment.user_liked">
              <a (click)="setLike(comment.stub,0)">{{comment.data_likes}}<i class="icon-heart" style="color:red"></i></a>
            </span>
            <span *ngIf="!comment.user_liked">
              <a (click)="setLike(comment.stub,1)">{{comment.data_likes}}<i class="icon-heart-o"></i></a>
            </span>
            
            <i class="icon-chat-empty"></i>{{comment.data_comments}}
            <span>
              <comment-reports [comment]="comment" (reportEmitter)="reportEmitter($event)" *ngIf="isLoggedIn"></comment-reports>
            </span>

            <span *ngIf="isLoggedIn && comment.user_owned && comment.isDeleted === 0">
              <a (click)="setDelete(comment.stub,1)" class="text-danger">delete</a> 
            </span> 

            <span *ngIf="isLoggedIn && comment.user_owned && comment.isDeleted === 1">
              <a (click)="setDelete(comment.stub,0)" class="text-success">restore</a> 
            </span> 
            <span *ngIf="isMod">
              |
              <span *ngIf="isLoggedIn && isMod && !comment.isRemoved">
                <a (click)="setRemove(comment.stub,1)" class="text-warning  ">remove</a> 
              </span> 

              <span *ngIf="isLoggedIn && isMod && comment.isRemoved">
                <a (click)="setRemove(comment.stub,0)" class="text-success">restore</a> 
              </span> 
              <span *ngIf="isLoggedIn && isMod && comment.user"> | <a *ngIf="comment.user.data_bans < 1" (click)="setBan(comment.user_name,comment.stub,1)" class="text-warning">ban</a><a *ngIf="comment.user.data_bans > 0" (click)="setBan(comment.user_name,comment.stub,0)" class="text-warning">unban</a></span>
            </span>
          </div>

        </div>
        <div class="row subtext">
          <div class="col-12" class="msg-height">
            <span *ngIf="isLoggedIn && comment.user_owned && (comment.isDeleted === 1 || comment.isRemoved === 1)" class="text-danger">
              The comment will be deleted from the server in 24h.
            </span> 
          </div>
        </div>
        <div class="row comment-box-row" *ngIf="isLoggedIn" [ngClass]="{'comment-box-row-show':showCommentBox}" StopClickPropagation>

          <div class="col-12">
            
            <comment-box [item]="comment.item" [parent]="comment.stub"></comment-box>

          </div>

        </div>

        <!-- Content -->

      </div>

  </div>

</div>