<app-modal>

  <div modal-body>

    <div class="top-overlay-log" *ngIf="item">

      <div class="row">
        <div class="col-2 subtext">
         <a (click)="displayToggles('item')" class="text-secondary"><span *ngIf="sections.item">+</span><span *ngIf="!sections.item">-</span> Item</a>
        </div>
      </div>

      <div class="row" style="margin:4px 0 10px 0" *ngIf="sections.item"> 

        <div class="col-11">

          <item [item]="item" isLoggedIn="isLoggedIn" (itemToggles)="itemToggles($event)" [statics]="statics"></item>

        </div>

      </div>

      <div *ngIf="parent" class="position-relative">
    
        <div class="row">

          <div class="col-2 subtext">

           <a (click)="displayToggles('parent')" class="text-secondary"><span *ngIf="sections.parent">+</span><span *ngIf="!sections.parent">-</span> Parent Comment</a>

          </div>

        </div>

        <div *ngIf="sections.parent">

          <div class="row" style="margin:4px 0 0px 0" *ngIf="sections.parent">

            <div class="col-12 parent-btns">

              <span class="close subtext" (click)="setParentQueryParamComment()" *ngIf="!parent.stub_parent">&times;</span>
              <span class="close subtext" (click)="gotoParentOfParentComment()" *ngIf="parent.stub_parent"><i class="icon-up-open"></i></span>

            </div>

          </div>

          <comment [comment]="parent" [isLoggedIn]="isLoggedIn" [isMod]="isMod" [statics]="statics" (commentToggles)="commentToggles($event)"></comment>

       </div>

      </div>

      <comment-box *ngIf="isLoggedIn" [item]="item.stub" [parent]="commentParentStub"></comment-box>

    </div>

    <div *ngIf="!item" class="text-center data-box">
    
      <img src="{{statics.apiRoot}}eu.gif">
    
    </div>

    <div *ngIf="comments.length > 0" class="comments">

      <div class="row">
        <div class="col-2 subtext">
         <a (click)="displayToggles('comments')" class="text-secondary"><span *ngIf="sections.comments">+</span><span *ngIf="!sections.comments">-</span> Comments</a>
        </div>
      </div>

      <div *ngIf="sections.comments">

        <div class="row sort-menu" style="margin:4px 0 10px 0"> 

          <div class="col-12">

            <ul>
              <li><a (click)="setSort('hot')">HOT</a></li>
              <li><a (click)="setSort('new')">NEW</a></li>
              <li><a (click)="setSort('old')">OLD</a></li>
              <li><a (click)="setSort('comments')">COMMENTS</a></li>
              <li *ngIf="isLoggedIn"><a (click)="setSort('saved')">SAVED</a></li>
            </ul>

          </div>

        </div> 

        <div *ngFor="let comment of comments">

          <comment [comment]="comment" [isLoggedIn]="isLoggedIn" [isMod]="isMod" [statics]="statics" (commentToggles)="commentToggles($event)"></comment>

        </div>

      </div>

    </div>

    <div class="data-box text-center" *ngIf="comments.length < 1 && item">

      <h3 class="text-secondary">No comments.. yet.</h3>

    </div>

  </div>

</app-modal>




<!--       <form class="container-fluid">
      
        <div class="row">
          
          <div class="col-6">
            
              <div class="form-group">
      
                <textarea [(ngModel)]="text" class="form-control" id="comment-set-text" rows="3" name="comment-set-text" placeholder="Please be nice"></textarea>
      
              </div>
          </div>

        </div>
      
        <div class="row">
      
          <div class="col-6 pull-right text-right">
      
            <button type="button" (click)="submit()" class="btn-sm btn-dark pull-right">Submit</button>
      
          </div>
      
        </div>
      
      </form>



      -->