.data-box {
	width:100%;
	padding:20px 0 20px 0;
}

::ng-deep .comment {

	padding:20px 0 20px 0;

}

.comments {

	.sort-menu {

		ul {

			text-decoration: none;
			list-style: none;
			margin:0;
			padding:0;
			
			li {
				display:inline-block;
				margin:0 4px;
			}

			li[role="menuitem"] {
				margin:0;
				width:100%;

				a.dropdown-item {
					width:100%;
					height:100%;
				}
			}

		}
		
	}
		
	::ng-deep .comment {

		border-top:1px solid #CCC;

	}
	
	::ng-deep .comment:hover {

		background-color:#e8f1ff;

	}

}

.parent {

	::ng-deep .comment {

		border-top:none;

	}

	::ng-deep .comment:hover {

		background-color:currentColor;

	}

	.parent-btns {

		line-height: 24px;
		font-size:18px;

	}

}

