<div class="modal-backdrop fade" [ngClass]="{'show':in}" (click)="close()"></div>
<div class="modal fade" [ngClass]="{'show in':in}" (click)="close()">
  
  <div class="modal-dialog modal-lg fade" role="document" [ngClass]="{'show':in}" (click)="onEvent($event)">

    <div class="modal-content container-fluid">
      
      <div class="row">

        <div class="col-12">

          <span class="close" (click)="close()">&times;</span>

        </div>

      </div>

      <div class="modal-body">

        <ng-content select="[modal-body]"></ng-content>

      </div>

    </div>

  </div>

</div>