#file {

  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
  right: 0;

}

::ng-deep #dropZone {

	border:none!important;

}

.section {

	margin:5px 0px 20px 0px;

	.porthole-container {

		display: inline-block;
		margin:0px 8px 0px 8px;

	}

	.profile-box {

		width: 100%;
		border-radius: 5px;
		border: 1px dotted #0782d0 !important;
		padding:5px;
		font-size:0.9rem;
		min-height: 150px;

	}

	.profile-input {

		font-size:0.9rem;
		width: 100%;	
	}

	textarea {
		height: inherit;
	}

	.section-part {

		display: flex;

	}


	a.section-link {
		line-height:64px;
	}

	.country-city-select {

		a {
			color:#000;
		}

		position:relative;
		display:block;

		img.flag {

			max-width: 21px;
			max-height: 21px;
			display:inline-block;

		}
		
		.country-city-link-dropdown {

			max-height: 150px;
			overflow: hidden;
			overflow-y: scroll;

		}

	}

}

.subtext {

	display: block;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.6rem;

}
