<div class="modal-body">
  <tabset>
    <tab heading="Profile" id="tab1">

      <profile-user [user]="user"></profile-user>
      
      <hr />

      <input type="file" id="file" (change)="selectFile($event)"/>
      <div class="section row">
        <div class="section-part">
          <div class="col-12">
            <file-drop onclick="document.getElementById('file').click();return false;" (onFileDrop)="dropped($event)" class="drop-area">
              <span class="porthole-lg" [ngStyle]="{'background-image':'url('+avatarLocation+')'}" style="background-size: cover;"></span>
            </file-drop>
            <a class="subtext" style="display:block"onclick="document.getElementById('file').click();return false;">
            Change your avatar
            </a>
          </div>
        </div>     
      </div>
      
      <div class="section">
        <div (click)="loader.profileInput = true">
          <div class="profile-box" *ngIf="!loader.profileInput">
            <div [innerHTML]="profileMd"></div>
          </div>
          <textarea class="profile-box" *ngIf="loader.profileInput" [(ngModel)]="profile" placeholder="No profile text." (input)="profileCharCounter()">{{user.profile}}</textarea>
          <div class="row justify-content-between">
            <div class="col-4">
              <a *ngIf="!loader.profileInput" class="subtext">Change profile</a>        
              <a *ngIf="loader.profileInput" class="subtext" (click)="setProfile()">Change profile</a>        
            </div>
            <div class="col-4 subtext text-right">
              {{profileCharCountLeft}}
            </div>
          </div>
        </div>
      </div>
      
      <div class="section">
          <img src="{{statics.apiRoot}}{{statics.flags}}{{user.location.country_code}}.png" class="flag"> {{user.location.country_name}}
          <input placeholder="Select your country." [(ngModel)]="selectedCountry" [typeahead]="countries" typeaheadOptionField="name" class="form-control profile-input" [typeaheadOptionsLimit]="7" typeaheadWaitMs="300" (typeaheadOnSelect)="selectCountry($event)">
          <a *ngIf="selectedCountry" (click)="setCountry()" class="subtext">Change default country</a>
      </div>

    </tab>

    <tab heading="Settings">

      <profile-user [user]="user"></profile-user>
      
      <hr />

      <h3>Coming soon..</h3>

<!--       <div class="section">
        <a class="subtext" (click)="false">
          Delete your avatar
        </a>
      </div>

      <div class="section">
        <div><input type="password" class="form-control profile-input" name="passwordChangeOld" [(ngModel)]="password.old" placeholder="Your old password" /></div>
        <div><input type="password" class="form-control profile-input" name="passwordChangeReplace" [(ngModel)]="password.rep" placeholder="Your new password" /></div>
        <div><input type="password" class="form-control profile-input" name="passwordChangeReplaceConfirm" [(ngModel)]="password.confirm" placeholder="Confirm your new password" /></div>
        <a class="subtext" (click)="false">
          Change your password
        </a>
      </div>

      <div class="section">
        <div><input type="email" class="form-control profile-input" name="email" [(ngModel)]="user.email" placeholder="Your email here." /></div>
        <a class="subtext" (click)="false">
          Change your email address*
        </a>
        <div class="subtext text-danger">
          * We dont use your email address for anything but confirming your password requests
        </div>
      </div>

      <div class="section">
        <div><input type="password" class="form-control profile-input" name="removeAccount" [(ngModel)]="removeAccount" placeholder="Enter password to delete account" /></div>
        <a class="subtext" (click)="false">
          Delete your account*
        </a>
      </div>
      <div class="subtext text-danger">
        * We delete your account, but not your comments. Your account will be deactivated and cleared within 24h.
      </div>
 -->
    </tab>
    <tab heading="Logout" (select)="logout()"></tab>

  </tabset>
</div>