<ul>
  <li><a class="porthole" [ngClass]="{'inactive':!mapToggleList.items}" (click)="mapToggle('items')"><i class="icon-newspaper"></i></a></li>
  <li><a class="porthole" [ngClass]="{'inactive':!mapToggleList.me}" (click)="mapToggle('me')"><i class="icon-location"></i></a></li>
  <li><a class="porthole" [ngClass]="{'inactive':!mapToggleList.comments}" (click)="mapToggle('comments')"><i class="icon-chat-empty"></i></a></li>
</ul>