:host {
  /*background: rgba(0,0,0,0.25);*/
  position: fixed;
  left: 0;
  bottom: 4px;
  width: 40px;
  z-index: 7;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
 
ul {
  margin:0;
  padding:0;
  list-style: none;

  a.inactive {

    background-color: #000;

  }

}