<div class="btn-group" dropdown>

  <a attr.aria-controls="comment-reports-{{comment.stub}}" dropdownToggle (click)="false" title="Report this comment">report</a>
  <ul id="comment-reports-{{comment.stub}}" *dropdownMenu class="dropdown-menu" role="menu" attr.aria-label="Report this comment" >
    <li *ngFor="let rpt of reports" role="menuitem" class="report-menu">
      <a class="dropdown-item" [ngClass]="{'active':rpt.active}" (click)="reportComment(comment.stub,rpt.type)">{{rpt.text}}</a>
    </li>
  </ul>

</div>