<div class="modal-body">
  <span class="close" aria-label="Close" (click)="bsModalRef.hide()">&times;</span>
  <div class="row-lg">
    <div class="col-md-5 text-center">
      <h4>Login</h4>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5 text-center">
      <h4>Register!</h4>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <form>

    <div class="row-sm">

      <div class="col-sm-12 text-center"><h4>Login</h4></div>

    </div>

    <div class="row-sm">

      <div class="col-md-5 col-sm-12 text-center">
        <input type="text" class="form-control text-center" id="login-name-sm" style="font-size:12px;" name="login-name-sm" placeholder="Enter your name" [(ngModel)]="formObj.login.name" (keydown.enter)="submit();false">
      </div>

    </div>

    <div class="row-sm">

      <div class="col-sm-12">


        <input type="password" class="form-control text-center" style="font-size:12px;" name="login-password-sm" id="login-password-sm" aria-describedby="login-password-help" placeholder="Password" [(ngModel)]="formObj.login.password" (keydown.enter)="submit();false">     

      </div>

    </div>

    <div class="row-sm">
      <div class="col-sm-12 text-center">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="persistent-sm" [checked]="formObj.persistent" (change)="formObj.persistent = !formObj.persistent"> <label class="subtext form-check-label" for="persistent-sm">Always log me in</label>
        </div><br>
        <button type="submit" class="btn-sm btn-primary w-75" [disabled]="!isNotEmpty()" (click)="submit()" style="margin-top:4px">Submit</button>

      </div>
    </div>

    <div class="row-sm">

      <div class="col-sm-12 offtitle text-center"><h4>Register</h4></div>

    </div>

    <div class="row-sm">

      <div class="col-sm-12">

        <input type="text" class="form-control text-center" id="reg-name-sm" style="font-size:12px;" name="reg-name-sm" placeholder="Enter your name" [(ngModel)]="formObj.reg.name" #inputRegNameSM [ngStyle]="{'color': valid.name ? '#1cc229' : 'red'}" (keydown.enter)="submit();false">

      </div>

    </div>

    <div class="row-sm">
      <div class="col-sm-12">

        <input type="password" class="form-control text-center" style="font-size:12px;" name="reg-password-sm" id="reg-password-sm" aria-describedby="reg-password-help" placeholder="Password" [(ngModel)]="formObj.reg.password" #inputRegPwdSM  [ngStyle]="{'color': valid.password ? '#1cc229' : 'red'}" (keydown.enter)="submit();false">

      </div>
    </div>

    <div class="row-sm" style="margin-top:4px;">
      <div class="col-sm-12 text-center">

        <button type="submit" class="btn-sm btn-primary w-75" [disabled]="!isNotEmpty()" (click)="submit()" style="margin-top:4px">Submit</button>

      </div>

    </div>

    <div class="row-lg align-items-center justify-content-between">

      <div class="col-md-5 text-center">
        <input type="text" class="form-control text-center" id="login-name" style="font-size:12px;" name="login-name" placeholder="Enter your name" [(ngModel)]="formObj.login.name" (keydown.enter)="submit();false">
        <div class="text-center" style="margin:4px 0px;">&</div>
        <input type="password" class="form-control text-center" style="font-size:12px;" name="login-password" id="login-password" aria-describedby="login-password-help" placeholder="Password" [(ngModel)]="formObj.login.password" (keydown.enter)="submit();false">     
      </div>

      <div class="col-md-1">OR</div>

      <div class="col-md-5 text-center">
        <input type="text" class="form-control text-center" id="reg-name" style="font-size:12px;" name="reg-name" placeholder="Enter your name" [(ngModel)]="formObj.reg.name" #inputRegName [ngStyle]="{'color': valid.name ? '#1cc229' : 'red'}" (keydown.enter)="submit();false">
        <div class="text-center" style="margin:4px 0px;">&</div>
        <input type="password" class="form-control text-center" style="font-size:12px;" name="reg-password" id="reg-password" aria-describedby="reg-password-help" placeholder="Password" [(ngModel)]="formObj.reg.password" #inputRegPwd  [ngStyle]="{'color': valid.password ? '#1cc229' : 'red'}" (keydown.enter)="submit();false">
      </div>
      <div class="col-md-1">
      </div> 
         
    </div>
    <div class="row-lg" style="margin-top:4px;">

      <div class="col-md-12 text-center">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="persistent" [checked]="formObj.persistent" (change)="formObj.persistent = !formObj.persistent">
          <label class="form-check-label" for="persistent">Always log me in</label>
        </div><br>
        <button type="submit" class="btn-sm btn-primary w-75" [disabled]="!isNotEmpty()" (click)="submit()" style="margin-top:4px">Submit</button>
      </div>

    </div>

  </form>

</div>

<!-- 

  <div class="row text-roboto">

  <form>

    <div class="form-group">
      <input type="text" class="form-control" id="reg-name" name="reg-name" placeholder="Enter your name" [(ngModel)]="formObj.name" #inputRegName [ngStyle]="{'color': valid.name ? 'black' : 'red'}">
    </div>
    <div class="form-group">

      <input type="password" class="form-control" name="reg-password" id="reg-password" aria-describedby="reg-password-help" placeholder="Password" [(ngModel)]="formObj.password" #inputRegPwd  [ngStyle]="{'color': valid.password ? 'black' : 'red'}">
      <small id="reg-password-help" class="form-text text-muted">Passwords are always encrypted and stored securely.</small>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="persistent" [checked]="formObj.persistent" (change)="formObj.persistent = !formObj.persistent">
          <label class="form-check-label" for="persistent">Always log me in</label>
        </div>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary float-right" [disabled]="isEmpty()" (click)="submit()" >Submit</button>
      </div>
    </div>

  </form>

</div> -->