@media only screen and (max-width: 777px) {
	.row-lg {display: none;}
	.row-sm {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
@media only screen and (min-width: 777px) {
	.row-lg {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.row-sm {display: none;}
}