<div class="modal-body">

  <span class="close" (click)="bsModal.hide()">&times;</span>

  <h2>Welcome to Euspider</h2>

  <p>EUspider is a news aggregator which aims to present news from all over the EU, chosen from bespoke publications and EU institutions and allow you to rank, rate and comment on those.</p>

  <p>We take your privacy seriously. Communication between you and EUspider will be encrypted and sent over websockets. We do not store passwords in plaintext. Your email address will not be used for anything other than password resets.</p>

  <p>There are no adverts. There are no trackers. There is just EUspider.</p>
 
  <div class="subtext">

    <p>N.B. This livemap is a beta release.</p> 

    <p>You can follow the progress of the app on bitbucket.org/cgraamans. Look for the EULivemap projects. If you spot any bugs, please let me know at sn0rsan@gmail.com.</p>
 
    <p>List of To-Do's:</p>
    <ul>
      <li>User settings</li>
      <li>User page</li>
      <li>New posts pushed to client</li>
      <li>Allow user to save items and comments</li>
      <li>Allow user to set profile to private</li>
      <li>Allow user to report item</li>
      <li>Implement user badges</li>
    </ul>
 
  </div>

</div>