<div class="row h-100">

  <div class="col-auto pr-0 mr-1">

    <a routerLink="/" (click)="openModal()" class="porthole-lg" style="margin:4px 0 4px 0;"><div class="flag"></div></a>


  </div>

  <div class="col-8 mx-0 px-0 text-roboto logo-text">

    <a routerLink="/" class="text-dark" (click)="openModal()"><h1 class="text-robotomono">EUspider.eu</h1></a>
    <a *ngIf="!isLoggedIn" (click)="openModal()">Login / Register</a>


    <span *ngIf="isLoggedIn && userData" class="profile-overlay-container">
      <profile-overlay-user [user]="userData"></profile-overlay-user>
    </span>

  </div>

</div>