:host {

  position: fixed;
  top: 3px;
  left: 3px;
  z-index: 10;
  width:250px;
  height:65px;
  background: rgba(255,255,255,0.66);
  color: #000;
  border-radius: 10px;
  padding:0 15px 0 3px; 

  .porthole-lg {

    margin:4px 0 4px 0;

    .flag {

      background:url('/assets/flag.png') center no-repeat;
      background-size:cover;
      width:100%;
      height:100%;

    }
  
  }

  .logo-text {

    h1 {
      line-height:normal;font-size:18px;padding:0;margin:8px 0 0 0;
    }
    a {
      display: inline-block;
      width: 100%;
      font-size:12px;
    }

  }

  .profile-overlay-container {

    width:100%;
    display: block;

    ::ng-deep .profile-overlay-user-link {

      font-size: 0.75rem !important;

    }

  }

}


@media (max-width: 600px) {
 
  :host {
    width:64px!important;
  }
  .logo-text {
    display: none;
  }

}