.map {
  width: 100%;
  height: 100vh;
}

.overlay-CLOSE {

  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateX(100vw);

}

.overlay-OPEN {

  transition-timing-function: ease-in;
  transition: 0.25s;
  transform: translateX(0);

}

