<router-outlet></router-outlet>

<map-left-nav [ngClass]="{'overlay-OPEN':!interfaceDisplay.log,'overlay-CLOSE':interfaceDisplay.log}" [mapToggleList]="mapDisplay" (mapToggles)="mapToggles($event)"></map-left-nav>
<top-logo></top-logo>
<top-nav (interfaceToggles)="interfaceToggles($event)" [interfaceDisplay]="interfaceDisplay"></top-nav>

<overlay-log (interfaceToggles)="interfaceToggles($event)" class="overlay-CLOSE" [ngClass]="{'overlay-OPEN':interfaceDisplay.log,'overlay-CLOSE':!interfaceDisplay.log}" [source]="source" [scrollTo]="scrollTo"></overlay-log>

<top-errors></top-errors>