:host {

  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 9;
  height:65px;
  border-radius: 10px;
  padding:13px 15px 0 3px;

  a {

    color:#FFF;
    display: inline-block;
    margin-left:3px;
  }

}