<div class="row h-100">

  <div class="col-auto mx-0">
    
    <a (click)="openBetaModal()" class="porthole"><i class="icon-help-circled"></i></a>

    <span *ngIf="isLoggedIn">

      <a (click)="openUserModal()" class="porthole"><i class="icon-user"></i></a>

    </span>

    <a (click)="toggle('log')" class="porthole" *ngIf="!interfaceDisplay.log"><i class="icon-angle-double-left"></i></a>
    <a (click)="toggle('log')" class="porthole" *ngIf="interfaceDisplay.log"><i class="icon-angle-double-right"></i></a>

  </div>

</div>