<div class="comment-box">
  <div class="row">
    <div class="col-12">
      <textarea [(ngModel)]="text" (input)="charCounter()" placeholder="Protip: be nice."></textarea>  
    </div>
  </div>
  <div class="row justify-content-between subtext">
    <div class="col-4">
      <a (click)="submit()">submit</a>
    </div>
    <div class="col-4 text-right">
      {{charCount}}
    </div>
  </div>
</div>