<div class="btn-group" dropdown>

  <a href dropdownToggle (click)="false" attr.aria-controls="profile-overlay-user-dropdown-{{user.name}}" class="profile-overlay-user-link">/u/{{user.name}}</a>
  <ul id="profile-overlay-user-dropdown-{{user.name}}" *dropdownMenu class="dropdown-menu avatar-dropdown" role="menu" attr.aria-label="{{user.name}}'s profile">
    <li>
      <profile-user [user]="user"></profile-user>
    </li>
  </ul>

</div>