
<div class="source-box container-fluid" *ngIf="source" ngClass="{'show':source}">
  
  <div class="row"> 

    <div class="col-3 col-lg-1 text-center px-0 mx-0">
      <a class="porthole-lg" [routerLink]="['/']"  target="_blank">
        <img src="{{statics.apiRoot}}{{statics.icons}}{{source.logo}}" class="w-100 h-100">
      </a> 
    </div>
    <div class="col-8 col-lg-10">
      <div class="source-name">{{source.name}}</div>
      <div class="subtext">
        
        <img src="{{statics.apiRoot}}{{statics.flags}}{{source.country}}.png" class="flag"> (<a (click)="setType(source.type)">{{getSourceType(source.type)}}</a>) 
        
        {{source.data_likes}}<i class="icon-heart-o"></i> 
        {{source.data_comments}}<i class="icon-chat-empty"></i> 

      </div>
    </div>
    <div class="col-1">
      <a class="close" (click)="closeSourceBox()">&times;</a>
    </div>

  </div>

</div>

<div class="top-overlay-log row justify-content-between align-items-middle">

  <div class="col-md-4 col-sm-9 pull-left">
    <tabset>
      <tab (select)="setQP('sortBy','hot')" heading="HOT"></tab>
      <tab (select)="setQP('sortBy','new')" heading="NEW"></tab>
      <tab (select)="setQP('sortBy','old')" heading="OLD"></tab>
      <tab (select)="setQP('sortBy','comments')" heading="COMMENTS"></tab>
      <tab *ngIf="isLoggedIn" (select)="setQP('sortBy','saved')" heading="SAVED"></tab>
    </tabset>
  </div>
  <div class="col-md-4 col-sm-3 pull-right text-right" *ngIf="!source" >
    <div class="btn-group float-right" style="display: inline-block;" dropdown>
      <a id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic"> {{getCurrentType()}}
         <span class="caret"></span>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="inline-block dropdown-item" (click)="setQP('type','*')">All</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setQP('type','N')">News</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setQP('type','T')">Thinktanks</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setQP('type','O')">Official</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setQP('type','M')">Misc</a></li>
      </ul>
    </div>  
  </div>

</div>

<div>

  <div *ngFor="let itemObj of items">

    <item [item]="itemObj" isLoggedIn="isLoggedIn" (itemToggles)="itemToggles($event)" [scrollTo]="scrollTo" [statics]="statics"></item>

  </div>

</div>