:host {
	background: rgba(255,255,255,0.75);
	position: fixed;
	left: 0vw;
	top:75px;
	height:calc( 100vh - 75px );
	width: 100vw;
	z-index: 9;
	overflow-y: auto;
	font-family: Roboto;

}

.top-overlay-log {

	width:100%;
	border-bottom: 1px solid #CCC;
	// height:38px;
	line-height: 38px;

	ul {

		text-decoration: none;
		list-style: none;
		margin:0;
		padding:0;
		
		li {
			display:inline-block;
			margin:0 4px;
		}

		li[role="menuitem"] {
			margin:0;
			width:100%;

			a.dropdown-item {
				width:100%;
				height:100%;
			}
		}

	}

}

.source-box {

	margin:10px 0 10px 0;
	padding:10px;
	min-height: 100px;

	.source-name {

		font-size: 2rem;

	}

	.flag {

		max-height: 1rem;

	}

}