/* You can add global styles to this file, and also import other style files */
@import './assets/fontello/css/fontello.css';

html, 
body {
    height: 100%;
}

.text-roboto {

	font-family: 'Roboto', sans-serif;

}

.text-opensans {

    font-family: 'Open Sans', sans-serif;

}

.text-robotomono {

    font-family: 'Roboto Mono', monospace;

}

.overflow-hidden {

	overflow: hidden;

}

.position-relative {

	position: relative;

}

.subtext {

	font-family: 'Roboto Mono', monospace;
	font-size: 0.8rem;

}


.porthole-lg, a.porthole-lg {

	height:56px;
	width:56px;
	border-radius:50%;
	line-height:56px;
	text-align:center;
	font-size:24px;
	overflow:hidden;
	display: inline-block;
	background-position: center;
	background-repeat: none;
	overflow: hidden;
	line-height: normal;

}

.porthole-sm, a.porthole-sm {

	height:24px;
	width:24px;
	border-radius:50%;
	line-height:24px;
	text-align:center;
	font-size:16px;
	overflow:hidden;
	display: inline-block;
	background-position: center;
	background-repeat: none;
	overflow: hidden;
	line-height: normal;

}

.porthole, .porthole-md, a.porthole {

	height:32px;
	width:32px;
	border-radius:50%;
	line-height:32px;
	text-align:center;
	font-size:18px;
	overflow:hidden;
	display: inline-block;
	background-position: center;
	background-repeat: none;
	overflow: hidden;

}

a.porthole, a.porthole-lg, a.porthole-sm {

	color:#FFF!important;
	background-color:rgba(18,67,136,0.8);
}


a.porthole, a.porthole-lg, a.porthole-sm > img {
}

a.porthole:hover, a.porthole-lg:hover, a.porthole-sm:hover {
	color: #FFF!important;
	background-color:rgba(25,85,177,0.8);	
}

a:hover {
	text-decoration: none;
}


a {
	cursor: pointer;
}

.ol-rotate-reset, .ol-rotate {

	display: none;

}

.drop-area {

	display: inline-block;
	margin:0px 4px 0px 4px;

}

.drop-area > .drop-zone {
	
	display: inline-block;

	text-align: center!important;
	width:64px!important;
	height:64px!important;
	line-height: 64px;
	border-radius: 100%!important;
	cursor: pointer;
	border: 1px dotted #0782d0 !important;
	overflow: hidden;

}

.drop-area > .drop-zone > .content {

	height: 56px!important;
	width: 56px!important;

}